*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 133, 133);
    font-family:sans-serif;
}

header{
height: 10vh;
}
main{
flex-grow: 1;
}

.galeria-container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 30px;
}
.galeria-itens{
    border: black 1px solid;
    height: 260px;
    width: 360px;
    flex-grow: 1;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.galeria-itens:hover{
    box-shadow: 10px 10px 20px black;

}

.galeria-itens img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.galeria-itens:hover img{
    transform: scale(1.3) rotate(10deg);
}

footer{

height: 5vh;
}

.center{
    display: grid;
    place-content: center;
}

.slide{
    position: fixed;
    z-index: -999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.slide:target{
    z-index: 999;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.719);
}

.slide .fechar{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;    
    z-index: 4;
    transition: all linear 0.3s; 
}

.slide .fechar:hover{
    background-color: red;  
   
}

.slide .navegacao{
    position: absolute;
    color: white;
    font-size: 3rem;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all linear 0.3s; 
}
.slide .navegacao:hover{
    background-color: #0005;
}

.slide .anterior{
    left: 0;
    opacity: 1;
}

.slide .proximo{
    right: 0;
    opacity: 1;
}



.image-container{
    height: 90%;
    width: 90%;
    position: relative;
}

.slide img{
    width: 100%;
    height: 100%;
}