*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 133, 133);
    font-family:sans-serif;
}

header{
height: 10vh;
}
main{
flex-grow: 1;
}

.galeria-container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 30px;
}
.galeria-itens{
    border: black 1px solid;
    height: 260px;
    width: 360px;
    flex-grow: 1;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.galeria-itens:hover{
    box-shadow: 10px 10px 20px black;

}

.galeria-itens img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    filter: grayscale(100%);
}
.galeria-itens:hover img{
    transform: scale(1.3) rotate(10deg);
    filter: grayscale(0%);
}

footer{

height: 5vh;
}

.center{
    display: grid;
    place-content: center;
}